@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Beaufort";
  src: url("../../public/assets/fonts/BeaufortforLOL-Regular.otf");
}

@font-face {
  font-family: "Spiegel";
  src: url("../../public/assets/fonts/Spiegel-Regular.otf");
}
