@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("../../public/assets/fonts/BeaufortforLOL-Medium.otf");
}

@font-face {
  font-family: "Spiegel";
  src: url("../../public/assets/fonts/Spiegel-Regular.otf");
}

body {
  background-color: #ffffff; /* Set a white background */
  color: #000000; /* Set black text color */
}

.embla {
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
